<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <title>Ivanhoe</title>
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true" aria-controls="navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img src="../images/logo.png" alt="" title="" class="img-responsive"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box box--head">
        <h1 class="box__title box__title--lead">Try Ivanhoe Free for 30-days.</h1>
        <div class="box__desc box__desc--lead">You’re just seconds away from supercharging your website with our stunning software. See it yourself with our 30 days trial. No credit card needed.</div>
      </div>
      <div class="box box--group">
        <div class="row">
          <div class="col-sm-6">
            <div class="form form--sign-up">
              <div class="form-group">
                <label for="input--first-name" class="control-label">First name</label>
                <input id="input--first-name" class="form-control input-lg">
              </div>
              <div class="form-group">
                <label for="input--last-name">Last name</label>
                <input id="input--last-name" class="form-control input-lg">
              </div>
              <div class="form-group">
                <label for="input--email">Email address</label>
                <input id="input--email" class="form-control input-lg">
              </div>
              <div class="form-group">
                <label for="input--country">Country</label>
                <input id="input--country" class="form-control input-lg">
              </div>
              <div class="form-group">
                <label for="input--telephone">Telephone number</label>
                <input id="input--telephone" class="form-control input-lg">
              </div>
              <div class="form-group">
                <label for="input--pass">Password</label>
                <input id="input--pass" class="form-control input-lg">
              </div>
              <div class="form-group">
                <label for="input--website">Main website</label>
                <input id="input--website" class="form-control input-lg">
              </div>
              <div class="form-group text-right">
                <button type="submit" class="btn btn-lg btn-pink">Start a free 30 day trial</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="box box--features">
              <div class="box__items box__items--features">
                <div class="item item--features odd">
                  <div class="row">
                    <div class="col-sm-4 col-md-3">
                      <div class="item__img item__img--features"><img src="../images/rocket.png" alt=""></div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                      <div class="item__title item__title--features">Supercharge your transactions.</div>
                      <div class="item__content item__content--features">
                        Need to know more about your visitors? Connect
                        Ivanhoe with your Networks and Google Analytics
                        to see how your audience came in. Turn off non-
                        converting keywords and outbid your competition
                        on the right words.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item item--features even">
                  <div class="row">
                    <div class="col-sm-4 col-md-3">
                      <div class="item__img item__img--features"><img src="../images/lightning.png" alt=""></div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                      <div class="item__title item__title--features">Powerful software.</div>
                      <div class="item__content item__content--features">
                        Tired of spreadsheets and manual labor? Use our
                        fantastic software to get track of your sales. Our
                        dashboard makes it really easy to get track of your
                        progress. Tried and tested with many affiliate networks..
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item item--features odd">
                  <div class="row">
                    <div class="col-sm-4 col-md-3">
                      <div class="item__img item__img--features"><img src="../images/security.png" alt=""></div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                      <div class="item__title item__title--features">All your data is safe.</div>
                      <div class="item__content item__content--features">
                        We fully understand that you want a safe environment
                        for your data. Data you provide us is stored in a secure
                        third-party database provided by Digital Ocean. in
                        encrypted format and sent and received over a secure
                        SSL connection
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box box--adv">
        <div class="box__desc box__desc--adv">Powerful affiliate dashboard. Lightening-fast technology. Real-time collaboration with Google Analytics. Ivanhoe is partnering up with networks all around the globe.</div>
        <div class="box__table box__table--adv">
          <table class="table">
            <tbody>
              <tr>
                <td><img src="../images/zanox.png" alt=""></td>
                <td><img src="../images/google-analytics.png" alt=""></td>
                <td><img src="../images/mail-chimp.png" alt=""></td>
              </tr>
              <tr>
                <td><img src="../images/pay-pro.png" alt=""></td>
                <td><img src="../images/daisycon.png" alt=""></td>
                <td><img src="../images/trade-tracker.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="box box--reviews">
        <div class="box__content--review">
          With Ivanhoe I managed to improve my <br>
          conversion with 15% and reduce my costs <br>
          with a whopping 20%. This easy solution gave me <br>
          a tremendous step ahead on the <br>
          competition.
        </div>
        <div class="box__author--name">Vincent Schokker</div>
        <div class="box__author--company">Vergelijkdirect.com</div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="footer__logo"><a href="/"><img src="../images/logo.png" alt="" title="" class="img-responsive center-block"></a></div>
        <ul class="nav footer__nav">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Networks</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <ul class="nav footer__social">
          <li><a href="#" class="fb"></a></li>
          <li><a href="#" class="tw"></a></li>
          <li><a href="#" class="in"></a></li>
          <li><a href="#" class="g"></a></li>
        </ul>
        <div class="footer__copyright">Copyright © 2016 IVANHOE.io</div>
      </div>
    </div>
  </body>
  <script src="../js/main.js"></script>
</html>