<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <title>Ivanhoe</title>
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true" aria-controls="navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img src="../images/logo.png" alt="" title="" class="img-responsive"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box box--head">
        <h1 class="box__title box__title--lead">Our partners in crime.</h1>
        <div class="box__desc box__desc--lead">We work with a wide array of networks. The list will grow on a weekly basis. Can’t find your network in the list? Let us know and we will connect it within your free month!</div>
        <div class="form--redirect-sign-up">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <input placeholder="http://Enter your url here" class="form-control input-lg">
              </div>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-lg btn-pink btn-block">Start a free 30 day trial</button>
            </div>
          </div>
        </div>
      </div>
      <div class="box box--networks">
        <h3 class="box__title">Network statuses.</h3>
        <div class="box__items box__items--networks">
          <div class="item item--networks panel">
            <div class="item__header">
              <div class="item__title"><a data-toggle="collapse" data-parent=".box__items--networks" href=".item__collapse--1"><span class="glyphicon glyphicon-plus"></span>Affili.net</a></div>
              <div class="item__status item__status--operational">Operational</div>
            </div>
            <div class="collapse item__collapse item__collapse--1">
              <div class="item__content">
                <table class="table table-borderless">
                  <tr>
                    <td>Website</td>
                    <td><em class="color--error">Down, last updated 5 minutes ago</em></td>
                  </tr>
                  <tr>
                    <td>API</td>
                    <td><em class="color--error">Disrupted, no connections for multiple accounts</em></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="item item--networks panel">
            <div class="item__header">
              <div class="item__title"><a data-toggle="collapse" data-parent=".box__items--networks" href=".item__collapse--2"><span class="glyphicon glyphicon-plus"></span>Daisycon</a></div>
              <div class="item__status item__status--disrupted">Disrupted</div>
            </div>
            <div class="collapse item__collapse item__collapse--2">
              <div class="item__content">
                <table class="table table-borderless">
                  <tr>
                    <td>Website</td>
                    <td><em class="color--error">Down, last updated 5 minutes ago</em></td>
                  </tr>
                  <tr>
                    <td>API</td>
                    <td><em class="color--error">Disrupted, no connections for multiple accounts</em></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="item item--networks panel">
            <div class="item__header">
              <div class="item__title"><a data-toggle="collapse" data-parent=".box__items--networks" href=".item__collapse--3"><span class="glyphicon glyphicon-plus"></span>Paypro</a></div>
              <div class="item__status item__status--operational">Operational</div>
            </div>
            <div class="collapse item__collapse item__collapse--3">
              <div class="item__content">
                <table class="table table-borderless">
                  <tr>
                    <td>Website</td>
                    <td><em class="color--error">Down, last updated 5 minutes ago</em></td>
                  </tr>
                  <tr>
                    <td>API</td>
                    <td><em class="color--error">Disrupted, no connections for multiple accounts</em></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="item item--networks panel">
            <div class="item__header">
              <div class="item__title"><a data-toggle="collapse" data-parent=".box__items--networks" href=".item__collapse--4"><span class="glyphicon glyphicon-plus"></span>Tradedoubler</a></div>
              <div class="item__status item__status--disrupted">Disrupted</div>
            </div>
            <div class="collapse item__collapse item__collapse--4">
              <div class="item__content">
                <table class="table table-borderless">
                  <tr>
                    <td>Website</td>
                    <td><em class="color--error">Down, last updated 5 minutes ago</em></td>
                  </tr>
                  <tr>
                    <td>API</td>
                    <td><em class="color--error">Disrupted, no connections for multiple accounts</em></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="item item--networks panel">
            <div class="item__header">
              <div class="item__title"><a data-toggle="collapse" data-parent=".box__items--networks" href=".item__collapse--5"><span class="glyphicon glyphicon-plus"></span>Tradetracker</a></div>
              <div class="item__status item__status--operational">Operational</div>
            </div>
            <div class="collapse item__collapse item__collapse--5">
              <div class="item__content">
                <table class="table table-borderless">
                  <tr>
                    <td>Website</td>
                    <td><em class="color--error">Down, last updated 5 minutes ago</em></td>
                  </tr>
                  <tr>
                    <td>API</td>
                    <td><em class="color--error">Disrupted, no connections for multiple accounts</em></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="item item--networks panel">
            <div class="item__header">
              <div class="item__title"><a data-toggle="collapse" data-parent=".box__items--networks" href=".item__collapse--6"><span class="glyphicon glyphicon-plus"></span>Zanox</a></div>
              <div class="item__status item__status--disrupted">Disrupted</div>
            </div>
            <div class="collapse item__collapse item__collapse--6">
              <div class="item__content">
                <table class="table table-borderless">
                  <tr>
                    <td>Website</td>
                    <td><em class="color--error">Down, last updated 5 minutes ago</em></td>
                  </tr>
                  <tr>
                    <td>API</td>
                    <td><em class="color--error">Disrupted, no connections for multiple accounts</em></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box box--incidents">
        <h3 class="box__title">Pasts incidents.</h3>
        <div class="box__items">
          <div class="item item--incidents">
            <div class="item__date">Apr 4, 2106</div>
            <div class="item__content">No incidents reported this day</div>
          </div>
          <div class="item item--incidents">
            <div class="item__date">Apr 4, 2106</div>
            <div class="item__content">No incidents reported this day</div>
          </div>
          <div class="item item--incidents">
            <div class="item__date">Apr 4, 2106</div>
            <div class="item__content">
              <div class="item item--incident">
                <div class="color--warning"><strong>Tradedoubler</strong> / 15:00 - 15:50 / website down</div><em>No comment from Tradedoubler</em>
              </div>
              <div class="item item--incident">
                <div class="color--error"><strong>Tradetracker</strong> / 13:30 - 13:50 / API down</div><em>Problem was solved, tracking was not affected</em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="footer__logo"><a href="/"><img src="../images/logo.png" alt="" title="" class="img-responsive center-block"></a></div>
        <ul class="nav footer__nav">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Networks</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <ul class="nav footer__social">
          <li><a href="#" class="fb"></a></li>
          <li><a href="#" class="tw"></a></li>
          <li><a href="#" class="in"></a></li>
          <li><a href="#" class="g"></a></li>
        </ul>
        <div class="footer__copyright">Copyright © 2016 IVANHOE.io</div>
      </div>
    </div>
  </body>
  <script src="../js/main.js"></script>
</html>