<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <title>Ivanhoe</title>
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true" aria-controls="navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img src="../images/logo.png" alt="" title="" class="img-responsive"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box box--head">
        <h1 class="box__title box__title--lead">Try Ivanhoe free for 30 days.</h1>
        <div class="box__desc box__desc--lead">You’re just seconds away from supercharging your website with our stunning software. See it yourself with our 30 days trial. No credit card needed.</div>
        <div class="form--redirect-sign-up">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <input placeholder="http://Enter your url here" class="form-control input-lg">
              </div>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-lg btn-pink btn-block">Start a free 30 day trial</button>
            </div>
          </div>
        </div>
      </div>
      <div class="box box--pricing">
        <h3 class="box__title box__title--pricing">Flexible pricing, performance based.</h3>
        <div class="box__desc box__desc--pricing">All plans are fully charged with all the options you need. The plans are performance based, just like your business.</div>
        <div class="box__table box__table--pricing">
          <table class="table">
            <tbody>
              <tr>
                <td>up to<span class="count"> 100</span> sales <br><span class="price">€ 29,- <br></span>per month</td>
                <td>up to<span class="count"> 500</span> sales <br><span class="price">€ 49,- <br></span>per month</td>
                <td>up to<span class="count"> 1500</span> sales <br><span class="price">€ 79,- <br></span>per month</td>
              </tr>
              <tr>
                <td>up to<span class="count"> 3500</span> sales <span class="icon--vip glyphicon glyphicon-asterisk"></span><br><span class="price">€ 139,- <br></span>per month
                </td>
                <td>up to<span class="count"> 5000</span> sales <span class="icon--vip glyphicon glyphicon-asterisk"></span><br><span class="price">€ 169,- <br></span>per month
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="info"><span class="icon--vip glyphicon glyphicon-asterisk"></span> premium support by chat and phone
          </div>
        </div>
      </div>
      <div class="box box--faq">
        <h3 class="box__title box__title--faq">Frequently asked questions</h3>
        <div class="box__items--faq">
          <div class="row">
            <div class="col-sm-6">
              <div class="box__item--faq item item--faq">
                <div class="item__title item__title--faq">Can I trial Ivanhoe for free?</div>
                <div class="item__content item__content--faq">You can try our plans 30 days free trial. No credit card is required.</div>
              </div>
              <div class="box__item--faq item item--faq">
                <div class="item__title item__title--faq">How secure is Ivanhoe?</div>
                <div class="item__content item__content--faq">We take security of your information seriously. Your data is stored in a secure third-party database provided by Digital Ocean in encrypted format and sent and received over a secure SSL connection.</div>
              </div>
              <div class="box__item--faq item item--faq">
                <div class="item__title item__title--faq">Can I download Ivanhoe?</div>
                <div class="item__content item__content--faq">No. Ivanhoeis a fully-hosted service. We think this is a better solution as it means we can continue to offer you updates and new features as we go without requiring you to download anything. You can access your account safely anywhere there is an internet connection.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="box__item--faq item item--faq">
                <div class="item__title item__title--faq">How does your pricing work?</div>
                <div class="item__content item__content--faq">Our pricing is tiered based on the number of conversions you make at the networks. People set to not appear in the schedule or that are archived are free. Websites, Networks and Intergrations are all unlimited.</div>
              </div>
              <div class="box__item--faq item item--faq">
                <div class="item__title item__title--faq">What types of payment do you accept?</div>
                <div class="item__content item__content--faq">We accept Visa, Mastercard, Paypal and iDeal. Fees are debited from your account automatically each billing period and we email you a receipt.</div>
              </div>
              <div class="box__item--faq item item--faq">
                <div class="item__title item__title--faq">How long are your contracts?</div>
                <div class="item__content item__content--faq">Our contracts are monthly. You can upgrade, downgrade or cancel your account at any time. You won’t be charged any further once you’ve cancelled your account.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="footer__logo"><a href="/"><img src="../images/logo.png" alt="" title="" class="img-responsive center-block"></a></div>
        <ul class="nav footer__nav">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Networks</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <ul class="nav footer__social">
          <li><a href="#" class="fb"></a></li>
          <li><a href="#" class="tw"></a></li>
          <li><a href="#" class="in"></a></li>
          <li><a href="#" class="g"></a></li>
        </ul>
        <div class="footer__copyright">Copyright © 2016 IVANHOE.io</div>
      </div>
    </div>
  </body>
  <script src="../js/main.js"></script>
</html>