<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <title>Ivanhoe</title>
    <link href="../css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="true" aria-controls="navbar" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img src="../images/logo.png" alt="" title="" class="img-responsive"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="box box--head">
        <h1 class="box__title box__title--lead">Privacy</h1>
        <div class="box__desc box__desc--lead">Updated on December 13, 2016</div>
      </div>
      <div class="post post--single">
        <div class="post__content">
          <h3>Header 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sapien. Pellentesque vel placerat eros, ac bibendum mauris. Mauris malesuada rhoncus molestie. Nulla facilisi. Vestibulum aliquam mi a volutpat malesuada. Nam pharetra, nibh in mattis varius, nisl dolor cursus neque, vel convallis enim mi vitae sem. Sed gravida est id orci venenatis ultricies. Morbi vitae mattis arcu.</p>
          <p>Pellentesque lobortis tempor neque ut posuere. Donec euismod sapien vel neque consequat maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis quis gravida augue, ac molestie dolor. Nulla facilisi. Nunc vulputate, dui sit amet porta rhoncus, tortor urna placerat sem, non pellentesque eros orci vel lorem. Proin non porttitor sem. Donec varius consequat elit sed rhoncus. Nullam et lorem nibh. Fusce eget facilisis dui, pulvinar lobortis dui. Praesent eget sapien sit amet neque auctor placerat. Morbi nec dui vitae nunc auctor ultricies quis at dui. Nam at porttitor diam, ut rhoncus risus. Mauris venenatis cursus euismod.</p>
          <p>Nullam congue tincidunt ligula. Fusce vel augue ultrices, dictum ex a, ultricies nisi. Aliquam commodo est ut lorem tempor laoreet. Pellentesque egestas nibh vitae felis bibendum porttitor. Praesent ullamcorper ultricies pharetra. Curabitur luctus sagittis porta. Praesent pharetra nec magna ut imperdiet. Etiam aliquam rhoncus nulla, porta vehicula felis accumsan commodo. Maecenas pellentesque nunc quam.</p>
          <h3>Header 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sapien. Pellentesque vel placerat eros, ac bibendum mauris. Mauris malesuada rhoncus molestie. Nulla facilisi. Vestibulum aliquam mi a volutpat malesuada. Nam pharetra, nibh in mattis varius, nisl dolor cursus neque, vel convallis enim mi vitae sem. Sed gravida est id orci venenatis ultricies. Morbi vitae mattis arcu.</p>
          <p>Pellentesque lobortis tempor neque ut posuere. Donec euismod sapien vel neque consequat maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis quis gravida augue, ac molestie dolor. Nulla facilisi. Nunc vulputate, dui sit amet porta rhoncus, tortor urna placerat sem, non pellentesque eros orci vel lorem. Proin non porttitor sem. Donec varius consequat elit sed rhoncus. Nullam et lorem nibh. Fusce eget facilisis dui, pulvinar lobortis dui. Praesent eget sapien sit amet neque auctor placerat. Morbi nec dui vitae nunc auctor ultricies quis at dui. Nam at porttitor diam, ut rhoncus risus. Mauris venenatis cursus euismod.</p>
          <p>Nullam congue tincidunt ligula. Fusce vel augue ultrices, dictum ex a, ultricies nisi. Aliquam commodo est ut lorem tempor laoreet. Pellentesque egestas nibh vitae felis bibendum porttitor. Praesent ullamcorper ultricies pharetra. Curabitur luctus sagittis porta. Praesent pharetra nec magna ut imperdiet. Etiam aliquam rhoncus nulla, porta vehicula felis accumsan commodo. Maecenas pellentesque nunc quam.</p>
          <h3>Header 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sapien. Pellentesque vel placerat eros, ac bibendum mauris. Mauris malesuada rhoncus molestie. Nulla facilisi. Vestibulum aliquam mi a volutpat malesuada. Nam pharetra, nibh in mattis varius, nisl dolor cursus neque, vel convallis enim mi vitae sem. Sed gravida est id orci venenatis ultricies. Morbi vitae mattis arcu.</p>
          <p>Pellentesque lobortis tempor neque ut posuere. Donec euismod sapien vel neque consequat maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis quis gravida augue, ac molestie dolor. Nulla facilisi. Nunc vulputate, dui sit amet porta rhoncus, tortor urna placerat sem, non pellentesque eros orci vel lorem. Proin non porttitor sem. Donec varius consequat elit sed rhoncus. Nullam et lorem nibh. Fusce eget facilisis dui, pulvinar lobortis dui. Praesent eget sapien sit amet neque auctor placerat. Morbi nec dui vitae nunc auctor ultricies quis at dui. Nam at porttitor diam, ut rhoncus risus. Mauris venenatis cursus euismod.</p>
          <p>Nullam congue tincidunt ligula. Fusce vel augue ultrices, dictum ex a, ultricies nisi. Aliquam commodo est ut lorem tempor laoreet. Pellentesque egestas nibh vitae felis bibendum porttitor. Praesent ullamcorper ultricies pharetra. Curabitur luctus sagittis porta. Praesent pharetra nec magna ut imperdiet. Etiam aliquam rhoncus nulla, porta vehicula felis accumsan commodo. Maecenas pellentesque nunc quam.</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="footer__logo"><a href="/"><img src="../images/logo.png" alt="" title="" class="img-responsive center-block"></a></div>
        <ul class="nav footer__nav">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Networks</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <ul class="nav footer__social">
          <li><a href="#" class="fb"></a></li>
          <li><a href="#" class="tw"></a></li>
          <li><a href="#" class="in"></a></li>
          <li><a href="#" class="g"></a></li>
        </ul>
        <div class="footer__copyright">Copyright © 2016 IVANHOE.io</div>
      </div>
    </div>
  </body>
  <script src="../js/main.js"></script>
</html>