.footer
    .container
        .footer__logo
            a(href="/")
                img.img-responsive.center-block(src="../images/logo.png", alt="", title="")

        ul.nav.footer__nav
            li
                a(href='#') Blog
            li
                a(href='#') Networks
            li
                a(href='#') Terms of service
            li
                a(href='#') Privacy
            li
                a(href='#') About us

        ul.nav.footer__social
            li
                a.fb(href='#')
            li
                a.tw(href='#')
            li
                a.in(href='#')
            li
                a.g(href='#')
        .footer__copyright Copyright © 2016 IVANHOE.io

