doctype html
html(lang="en")
    include ./includes/head.jade
    body
        include ./includes/navbar-static-top.jade
        .container
            .box.box--head
                h1.box__title Daisycon API connected to Ivanhoe.io
                .box__desc.box__desc--lead December 13, 2016 | Bart Houtman
            .post.post--single
                .post__content
                    img.post__img--left.img-responsive(src="../upl/post.png", alt="")
                    p Start shooting your Zanox affiliate commissions to your Google Analytics and know exactly what source, keyword or campaign was responsable for it! Ivanhoe.io just finished the integration of the Zanox API.How do you connect your Zanox account to Ivanhoe.io?Just login to your account and click: My account > Networks. Click the connect button on the right side of the Zanox logo and enter your Zanox credentials. You can find your Zanox API credentials in your Zanox affiliate account.Once you have connected your Zanox affiliate account, you can start using Zanox links with subid's! Do you want to know how to use Zanox subid's (ZPAR) you can read the following manual!Want help?Be sure to ...
                    h3 Header 2
                    p Start shooting your Zanox affiliate commissions to your Google Analytics and know exactly what source, keyword or campaign was responsable for it! Ivanhoe.io just finished the integration of the Zanox API.How do you connect your Zanox account to Ivanhoe.io?Just login to your account and click: My account > Networks. Click the connect button on the right side of the Zanox logo and enter your Zanox credentials. You can find your Zanox API credentials in your Zanox affiliate account.Once you have connected your Zanox affiliate account, you can start using Zanox links with subid's! Do you want to know how to use Zanox subid's (ZPAR) you can read the following manual!Want help?Be sure to ...
                    h3 Header 2
                    p Start shooting your Zanox affiliate commissions to your Google Analytics and know exactly what source, keyword or campaign was responsable for it! Ivanhoe.io just finished the integration of the Zanox API.How do you connect your Zanox account to Ivanhoe.io?Just login to your account and click: My account > Networks. Click the connect button on the right side of the Zanox logo and enter your Zanox credentials. You can find your Zanox API credentials in your Zanox affiliate account.Once you have connected your Zanox affiliate account, you can start using Zanox links with subid's! Do you want to know how to use Zanox subid's (ZPAR) you can read the following manual!Want help?Be sure to ...
        include ./includes/footer.jade

    script(src="../js/main.js")




