doctype html
html(lang="en")
    include ./includes/head.jade
    body
        include ./includes/navbar-static-top.jade
        .container
            .box.box--head
                h1.box__title.box__title--lead The latest news from Ivanhoe.
                .box__desc.box__desc--lead Get some expert advise from our team and get all the announcements from Ivanhoe.
            .box.box--blog
                .box__items
                    .row
                        .col-sm-12
                            .item.item--blog
                                .row
                                    .col-sm-5.col-md-4
                                        .item__img
                                            img.img-responsive(src="../upl/post.png", alt="")
                                    .col-sm-7.col-md-8
                                        .item__title Ivanhoe.io integrated the Zanox API
                                        .item__desc December 13, 2016 | Bart Houtman
                                        .item__content Start shooting your Zanox affiliate commissions to your Google Analytics and know exactly what source, keyword or campaign was responsable for it! Ivanhoe.io just finished the integration of the Zanox API.How do you connect your Zanox account to Ivanhoe.io?Just login to your account and click: My account > Networks. Click the connect button on the right side of the Zanox logo and enter your Zanox credentials. You can find your Zanox API credentials in your Zanox affiliate account.Once you have connected your Zanox affiliate account, you can start using Zanox links with subid's! Do you want to know how to use Zanox subid's (ZPAR) you can read the following manual!Want help?Be sure to ...
                                        .item__more
                                            a(href="#") ...Read more
                    .row
                        .col-sm-6
                            .item.item--blog
                                .item__title Daisycon API connected to Ivanhoe.io
                                .item__desc December 13, 2016 | Bart Houtman
                                .item__content As we decided to replace the commission tracking links (CTL) with API connections it's never been so easy to push your affiliate transactions to your Google Analytics. Daisycon is the first affiliate network which is connected to Ivanhoe.io through API. Once you have connected your Daisycon account to Ivanhoe.io your affiliate transactions will be pushed to your Google Analytics realtime*.How to connect your Daisycon affiliate accountLogin to your Ivanhoe.io dashboard, click on Settings > Networks and connect your Daisycon account by entering your details. If you have entered your details correctly, you'll get a message that you've succesfully connected the Daisycon API to your Ivanhoe.io..
                                .item__more
                                    a(href="#") ...Read more
                        .col-sm-6
                            .item.item--blog
                                .item__title Daisycon API connected to Ivanhoe.io
                                .item__desc December 13, 2016 | Bart Houtman
                                .item__content As we decided to replace the commission tracking links (CTL) with API connections it's never been so easy to push your affiliate transactions to your Google Analytics. Daisycon is the first affiliate network which is connected to Ivanhoe.io through API. Once you have connected your Daisycon account to Ivanhoe.io your affiliate transactions will be pushed to your Google Analytics realtime*.How to connect your Daisycon affiliate accountLogin to your Ivanhoe.io dashboard, click on Settings > Networks and connect your Daisycon account by entering your details. If you have entered your details correctly, you'll get a message that you've succesfully connected the Daisycon API to your Ivanhoe.io..
                                .item__more
                                        a(href="#") ...Read more
                    .row
                        .col-sm-6
                            .item.item--blog
                                .item__title Daisycon API connected to Ivanhoe.io
                                .item__desc December 13, 2016 | Bart Houtman
                                .item__content As we decided to replace the commission tracking links (CTL) with API connections it's never been so easy to push your affiliate transactions to your Google Analytics. Daisycon is the first affiliate network which is connected to Ivanhoe.io through API. Once you have connected your Daisycon account to Ivanhoe.io your affiliate transactions will be pushed to your Google Analytics realtime*.How to connect your Daisycon affiliate accountLogin to your Ivanhoe.io dashboard, click on Settings > Networks and connect your Daisycon account by entering your details. If you have entered your details correctly, you'll get a message that you've succesfully connected the Daisycon API to your Ivanhoe.io..
                                .item__more
                                    a(href="#") ...Read more
                        .col-sm-6
                            .item.item--blog
                                .item__title Daisycon API connected to Ivanhoe.io
                                .item__desc December 13, 2016 | Bart Houtman
                                .item__content As we decided to replace the commission tracking links (CTL) with API connections it's never been so easy to push your affiliate transactions to your Google Analytics. Daisycon is the first affiliate network which is connected to Ivanhoe.io through API. Once you have connected your Daisycon account to Ivanhoe.io your affiliate transactions will be pushed to your Google Analytics realtime*.How to connect your Daisycon affiliate accountLogin to your Ivanhoe.io dashboard, click on Settings > Networks and connect your Daisycon account by entering your details. If you have entered your details correctly, you'll get a message that you've succesfully connected the Daisycon API to your Ivanhoe.io..
                                .item__more
                                    a(href="#") ...Read more
                    .row
                        .col-sm-6
                            .item.item--blog
                                .item__title Daisycon API connected to Ivanhoe.io
                                .item__desc December 13, 2016 | Bart Houtman
                                .item__content As we decided to replace the commission tracking links (CTL) with API connections it's never been so easy to push your affiliate transactions to your Google Analytics. Daisycon is the first affiliate network which is connected to Ivanhoe.io through API. Once you have connected your Daisycon account to Ivanhoe.io your affiliate transactions will be pushed to your Google Analytics realtime*.How to connect your Daisycon affiliate accountLogin to your Ivanhoe.io dashboard, click on Settings > Networks and connect your Daisycon account by entering your details. If you have entered your details correctly, you'll get a message that you've succesfully connected the Daisycon API to your Ivanhoe.io..
                                .item__more
                                    a(href="#") ...Read more
                        .col-sm-6
                            .item.item--blog
                                .item__title Daisycon API connected to Ivanhoe.io
                                .item__desc December 13, 2016 | Bart Houtman
                                .item__content As we decided to replace the commission tracking links (CTL) with API connections it's never been so easy to push your affiliate transactions to your Google Analytics. Daisycon is the first affiliate network which is connected to Ivanhoe.io through API. Once you have connected your Daisycon account to Ivanhoe.io your affiliate transactions will be pushed to your Google Analytics realtime*.How to connect your Daisycon affiliate accountLogin to your Ivanhoe.io dashboard, click on Settings > Networks and connect your Daisycon account by entering your details. If you have entered your details correctly, you'll get a message that you've succesfully connected the Daisycon API to your Ivanhoe.io..
                                .item__more
                                    a(href="#") ...Read more
        include ./includes/footer.jade

    script(src="../js/main.js")