doctype html
html(lang="en")
    include ./includes/head.jade
    body
        include ./includes/navbar-static-top.jade
        .container
            .box.box--head
                h1.box__title.box__title--lead Terms of Service
                .box__desc.box__desc--lead Updated on December 13, 2016
            .post.post--single
                .post__content

                    h3 Header 2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sapien. Pellentesque vel placerat eros, ac bibendum mauris. Mauris malesuada rhoncus molestie. Nulla facilisi. Vestibulum aliquam mi a volutpat malesuada. Nam pharetra, nibh in mattis varius, nisl dolor cursus neque, vel convallis enim mi vitae sem. Sed gravida est id orci venenatis ultricies. Morbi vitae mattis arcu.
                    p Pellentesque lobortis tempor neque ut posuere. Donec euismod sapien vel neque consequat maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis quis gravida augue, ac molestie dolor. Nulla facilisi. Nunc vulputate, dui sit amet porta rhoncus, tortor urna placerat sem, non pellentesque eros orci vel lorem. Proin non porttitor sem. Donec varius consequat elit sed rhoncus. Nullam et lorem nibh. Fusce eget facilisis dui, pulvinar lobortis dui. Praesent eget sapien sit amet neque auctor placerat. Morbi nec dui vitae nunc auctor ultricies quis at dui. Nam at porttitor diam, ut rhoncus risus. Mauris venenatis cursus euismod.
                    p Nullam congue tincidunt ligula. Fusce vel augue ultrices, dictum ex a, ultricies nisi. Aliquam commodo est ut lorem tempor laoreet. Pellentesque egestas nibh vitae felis bibendum porttitor. Praesent ullamcorper ultricies pharetra. Curabitur luctus sagittis porta. Praesent pharetra nec magna ut imperdiet. Etiam aliquam rhoncus nulla, porta vehicula felis accumsan commodo. Maecenas pellentesque nunc quam.

                    h3 Header 2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sapien. Pellentesque vel placerat eros, ac bibendum mauris. Mauris malesuada rhoncus molestie. Nulla facilisi. Vestibulum aliquam mi a volutpat malesuada. Nam pharetra, nibh in mattis varius, nisl dolor cursus neque, vel convallis enim mi vitae sem. Sed gravida est id orci venenatis ultricies. Morbi vitae mattis arcu.
                    p Pellentesque lobortis tempor neque ut posuere. Donec euismod sapien vel neque consequat maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis quis gravida augue, ac molestie dolor. Nulla facilisi. Nunc vulputate, dui sit amet porta rhoncus, tortor urna placerat sem, non pellentesque eros orci vel lorem. Proin non porttitor sem. Donec varius consequat elit sed rhoncus. Nullam et lorem nibh. Fusce eget facilisis dui, pulvinar lobortis dui. Praesent eget sapien sit amet neque auctor placerat. Morbi nec dui vitae nunc auctor ultricies quis at dui. Nam at porttitor diam, ut rhoncus risus. Mauris venenatis cursus euismod.
                    p Nullam congue tincidunt ligula. Fusce vel augue ultrices, dictum ex a, ultricies nisi. Aliquam commodo est ut lorem tempor laoreet. Pellentesque egestas nibh vitae felis bibendum porttitor. Praesent ullamcorper ultricies pharetra. Curabitur luctus sagittis porta. Praesent pharetra nec magna ut imperdiet. Etiam aliquam rhoncus nulla, porta vehicula felis accumsan commodo. Maecenas pellentesque nunc quam.

                    h3 Header 2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget lectus sapien. Pellentesque vel placerat eros, ac bibendum mauris. Mauris malesuada rhoncus molestie. Nulla facilisi. Vestibulum aliquam mi a volutpat malesuada. Nam pharetra, nibh in mattis varius, nisl dolor cursus neque, vel convallis enim mi vitae sem. Sed gravida est id orci venenatis ultricies. Morbi vitae mattis arcu.
                    p Pellentesque lobortis tempor neque ut posuere. Donec euismod sapien vel neque consequat maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis quis gravida augue, ac molestie dolor. Nulla facilisi. Nunc vulputate, dui sit amet porta rhoncus, tortor urna placerat sem, non pellentesque eros orci vel lorem. Proin non porttitor sem. Donec varius consequat elit sed rhoncus. Nullam et lorem nibh. Fusce eget facilisis dui, pulvinar lobortis dui. Praesent eget sapien sit amet neque auctor placerat. Morbi nec dui vitae nunc auctor ultricies quis at dui. Nam at porttitor diam, ut rhoncus risus. Mauris venenatis cursus euismod.
                    p Nullam congue tincidunt ligula. Fusce vel augue ultrices, dictum ex a, ultricies nisi. Aliquam commodo est ut lorem tempor laoreet. Pellentesque egestas nibh vitae felis bibendum porttitor. Praesent ullamcorper ultricies pharetra. Curabitur luctus sagittis porta. Praesent pharetra nec magna ut imperdiet. Etiam aliquam rhoncus nulla, porta vehicula felis accumsan commodo. Maecenas pellentesque nunc quam.

        include ./includes/footer.jade

    script(src="../js/main.js")
